body {
  font-family: sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/112/827/original/Earth.jpg?1706557425");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: #d0d0d0;
}

h1 {
  text-align: center;
  font-size: 36px;
}

select {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  font-size: 28px;
}

.container {
  backdrop-filter: blur(40px);
  max-width: 600px;
  margin: 80px auto;
  padding: 30px;
  border-radius: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}

.city:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.date {
  font-size: 15px;
  color: #d0d0d0;
  margin-top: 5px;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  line-height: 48px;
  vertical-align: middle;
}

footer {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

a {
  color: #885df1;
}
